VITE_SUPABASE_URL=https://evwzvrmdlonwmearrfxd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2d3p2cm1kbG9ud21lYXJyZnhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMTQyNzgsImV4cCI6MjA5NjU5MDI3OH0.p8wjmjY845eRbdyEhylSyxS3WNtXbfmiJ8MRhMPk7Fk
